h1
{
	color: rgb(0,255,0);
	border-color: purple;
	border width: 5px;
	border-style: solid;
}
body{
	background: url(https://thumbs.dreamstime.com/t/old-barn-wood-floor-background-texture-natural-brown-wall-pattern-planks-boards-very-beautiful-rustic-look-style-41537343.jpg);
}